<div class="w-1/3 pb-3">
    <h4 class="mt-2 flex items-center flex-wrap gap-3">
        <span>
            @Heading
        </span>

        <span class="bg-gray-100 px-2 py-1 rounded-md">
            @P75
        </span>
    </h4>

    <div class="flex flex-row mt-2 w-[98%] space-x-[4px]">
        @Histogram
    </div>
</div>

@code {
    [Parameter]
    public string Heading { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? P75 { get; set; }

    [Parameter]
    public RenderFragment? Histogram { get; set; }
}
