@tailwind base;

@layer base {
	/* Webfonts: Copyright © Letters From Sweden.*/
	/* Remove if you are not hosting on *.krompaco.nu */
	@font-face {
		font-family: 'Funkis Variable';
		font-weight: 1 1000;
		font-display: swap;
		font-style: normal;
		/* font-variation-settings: "wght" 50; */
		src: url('https://krompaco.nu/dist/funkis-abc-variable.woff2') format('woff2');
	}

	@view-transition {
		navigation: auto;
	}

	@media (prefers-reduced-motion: reduce) {
		@view-transition {
			navigation: none;
		}
	}
}

@tailwind components;

@layer components {
	.font-default-weight {
		font-weight: 50;
	}

	.outline-primary {
		@apply focus:outline-pink-600 focus:outline-dotted focus:outline-offset-1 focus:outline-[3px] hover:outline-pink-600 hover:outline-dotted hover:outline-offset-1 hover:outline-[3px];
	}

	.link-primary {
		@apply font-medium underline;
	}

	.h2-primary {
		@apply mt-8;
	}
}

@tailwind utilities;